.padding-top-10{
  padding-top: 10px;
}
div.mashmenu{
  background: none repeat scroll 0 0 #F3F6F9;
  border-bottom: 1px solid #DCE5EE;
  border-top: 1px solid white;
  color: black;
  position: fixed;
}
div.mashmenu div.fnav{
  border: 2px solid #F3F6F9;
  
}
