#PostingForm{
  margin-left: 40%;
}
#PostingForm input[type="submit"]{
  float: right;
}
.PostedBy a{
  font-weight: 800;
  color: #000;
  text-decoration: none;
}
.PostedBy a:hover{
  font-weight: 800;
  color: #000;
  text-decoration: underline;
}
hr {
  background-color: #DCE5EE;
  height: 1px;
  border: 0px;
  margin-right: 20px;
}
.NewsFeed h2{
  margin-left: 10px;
  margin-top: 0px;
  margin-right: 10px;
  background-color: #F3F6F9;
  border: 1px solid #DCE5EE;
}
.NewsFeedPost{
  width: 70%;
  background-color: #FFFFFF;
  border: 1px solid #F3F6F9;
}
