#search{
  margin-left: 50%;
  margin-right: 50%;
}
#postingForm{
  margin-left: 40%;
}
#postingForm input[type="submit"]{
  /*float: right; */
}
.container li{
  width: 120px;
  height: 40px;
}
.container a {
  font-size: 10px;
}
