body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#box{
  width: 100%;
  max-width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  height: 270px;
}
