.PostOnProfile{
  margin-top: 10px;
  margin-left: 500px;
  width: 500px;
  height: 200px;
  float: left;
}
.ProfilePicture{
  width: 200px;
  height: 500px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;
  float: left;
}
.textHeader{
  background-color: #F3F6F9;
  width: 200px;
  height: 30px;
  padding: 5px;
  border-bottom: 1px solid #DCE5EE;
  font-weight: 600;
  float: left;
}
.Container{
  width: 100%;
}
#pp{
  height: 250px;
  width: 200px;
}
/*
style="background-color: #DCE5EE; border: 1px solid #666; color:#666; height: 73px; width: 65px;
*/
