.PostOnProfile{
  margin-top: 10px;
  margin-left: 500px;
  width: 500px;
  height: 200px;
  float: left;
}
.ProfilePicture{
  width: 200px;
  height: 500px;

  margin-left: 5px;
  margin-top: 0px;
  float: left;
}
.ProfilePicture img {
  cursor: pointer;
}
.textHeader{
  background-color: #F3F6F9;
  width: 200px;
  height: 30px;
  padding: 5px;
  border-bottom: 1px solid #DCE5EE;
  font-weight: 600;
  float: left;
}
.Container{
  width: 100%;
}
#pp{
  height: 250px;
  width: 200px;
}
.ProfilePosts{
  width: 300px;
  height: 150px;
  background-color: #FFFFFF;
  padding: 5px;
  text-align: justify;
  margin-left: 40%
}
.ProfilePosts hr {
  background-color: #DCE5EE;
  height: 1px;
  border: 0px;
  margin-left: 40%;
}
.PostForm{
  float: right;
  width: 580px;
  height: 80px;
  background-color: #F3F6F9;
  padding: 5px;
}
/*
.PostForm form{
  margin-left: 40%;
  margin-top: 0%;
  float: left;
  width: 560px;
  height: 80px;
  background-color: #F3F6F9;
  padding: 5px;
}
style="background-color: #DCE5EE; border: 1px solid #666; color:#666; height: 73px; width: 65px;
*/
