* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50;
  margin: 0px;
  padding: 0px;
  background-color: #EFF5F9;
}
.headerMenu{
  background-image: url(../img/menu_bg.png);
  height: 56px;
  border-bottom: 0px;
  padding-left: auto;
  padding-right: auto;
  width: 100%;
}
#wrapper{
  background-image: url(../img/menu_bg.png);
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.logo{
  background-image: url(../img/menu_bg.png);
  width: 125px;
}
.logo img {
  background-image: url(../img/menu_bg.png);
  width: 50px;
  height: 38px;
  padding-top: 5px;
}
.search_box{
  background-image: url(../img/menu_bg.png);
  position: absolute;
  top: 13px;
  margin-left: 135px;
}
#search input[type="text"]{
  /* TODO: Get a white search icon */
  background: url() no-repeat 10px 6px #267BB6;
  outline: none;
  border: 0 none;
  font: bold 12px Arial, Helvetica, Sans-serif;
  width: 350px;
  padding: 6px 15px 6px 35px;
  text-shadow: 0 2px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
#search input[type="text"]:focus{
  /* TODO: Get a dark search icon */
  background: url() no-repeat 10px 6px #FCFCFC;
  color: #6A6F75;
  width: 350px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1280px){
  #menu {
    background-image: url(../img/menu_bg.png);
    position: absolute;
    top: 0px;
    right: 0px;
    height: 37px;
    padding-top: 19px;
    margin-right: 4%;
  }
}
@media screen and (min-width: 1280px){
  #menu {
    background-image: url(../img/menu_bg.png);
    position: absolute;
    top: 0px;
    right: 0px;
    height: 37px;
    padding-top: 19px;
    margin-right: 10%;
  }
}
@media screen and (min-width: 1920px){
  #menu {
    background-image: url(../img/menu_bg.png);
    position: absolute;
    top: 0px;
    right: 0px;
    height: 37px;
    padding-top: 19px;
    margin-right: 25%;
  }
}
#menu a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14px;
  background-image: url(../img/menu_bg.png);
  background-repeat: no-repeat;
  padding-top: 19px;
  padding-bottom: 22px;
  padding-left: 10px;
  padding-right: 10px;
}
#menu a:hover{
  /* TODO: Get an icon for links hovering */
  background-image: url();
}
