/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
/.vscode
Homestead.json
Homestead.yaml
.env
.vscode
.phpintel
public/semantic/components
public/semantic/semantic.css
public/semantic/semantic.js
!public/semantic/semantic.min.css
!public/semantic/semantic.min.js
/resources/assets/semantic/src/definitions
/resources/assets/semantic/src/semantic.less
/resources/assets/semantic/src/theme.less
/resources/assets/semantic/tasks
.DS_Store
