/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/semantic/*
!public/semantic/semantic.min.css
!public/semantic/semantic.min.js
/resources/assets/semantic/src/definitions
/resources/assets/semantic/src/semantic.less
/resources/assets/semantic/src/theme.less
/resources/assets/semantic/src/themes
/resources/assets/semantic/tasks
