/*******************************
            Homepage
*******************************/

#body.index .pusher > .page {
  background-color: #ffffff;
}

#body.index .pusher {
  background-color: #000000;
}

@media only screen and (max-width: 992px) {
  html {
    overflow-x: visible;
    -webkit-overflow-scrolling: auto;
  }
}
#body > .pusher {
  display: block;
  min-height: 0px;
  flex-direction: initial;
}
#body > .pusher > .full.height {
  display: block;
  flex: none !important;
}

/*--------------
    Masthead
---------------*/

#body.index .masthead.segment.zoomed h1 {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 1);
}
#body.index .masthead.zoomed:after {
  opacity: 0;
}
#body.index .masthead.zoomed {
  background-color: #25282A;
}

#body.index .masthead {
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 0em;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 0px;
  border-bottom: none;

  background-color: #000000;
  background-position: 50% 50%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#body.index .masthead:after {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: '';
  background-size: cover;

  opacity: 0.45;
}
#body.index .masthead.bg1:after {
  background-image: url("../img/backgrounds/1.jpg");
}
#body.index .masthead.bg2:after {
  background-image: url("../img/backgrounds/2.jpg");
}
#body.index .masthead.bg3:after {
  background-image: url("../img/backgrounds/3.jpg");
}
#body.index .masthead.bg4:after {
  background-image: url("../img/backgrounds/4.jpg");
}
#body.index .masthead.bg5:after {
  background-image: url("../img/backgrounds/5.jpg");
}
#body.index .masthead.bg6:after {
  background-image: url("../img/backgrounds/6.jpg");
}
#body.index .masthead.bg7:after {
  background-image: url("../img/backgrounds/7.jpg");
}
#body.index .masthead.bg8:after {
  background-image: url("../img/backgrounds/8.jpg");
}
#body.index .masthead.bg9:after {
  background-image: url("../img/backgrounds/9.jpg");
}
#body.index .masthead.bg10:after {
  background-image: url("../img/backgrounds/10.jpg");
}
#body.index .masthead.bg11:after {
  background-image: url("../img/backgrounds/11.jpg");
}
#body.index .masthead.bg12:after {
  background-image: url("../img/backgrounds/12.jpg");
}
#body.index .masthead.bg13:after {
  background-image: url("../img/backgrounds/13.jpg");
}
#body.index .masthead.bg14:after {
  background-image: url("../img/backgrounds/14.jpg");
}


#body.index .masthead,
#body.index .masthead:after {
  -ms-transition:
    background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
    opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
  ;
  -moz-transition:
    background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
    opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
  ;
  -webkit-transition:
    background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
    opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
  ;
  transition:
    background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
    opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
  ;
}
#body.index .masthead .container {
  height: 100vh;
  margin-left: auto !important;
  margin-right: auto !important;
  min-height: 600px;
  margin-bottom: 15px;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#body .masthead .container {
  padding: 15rem 0em;
}
#body.index .following.bar iframe.github {
  margin-top: 0px;
}
#body.index .following.bar .menu .item {
  display: block;
}
#body.index.pushed .masthead,
#body.index.pushed .following.bar {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#body.index > .pusher > .footer {
  padding-left: 0em;
}

#body.index .light.following.bar {
  padding: 0em 0em;
  background-color: #000000;
  border-bottom: 1px solid #DDDDDD;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
}

#body.index .masthead.segment .typed-cursor {
  position: relative;
  top: -0.05em;
  left: -0.25em;
  visibility: hidden;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  -webkit-transition: opacity 0.7s ease;
  -moz-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
}
#body.index .masthead.segment .typed-cursor.stop {
  opacity: 0;
  -moz-animation-duration: 0s;
  -webkit-animation-duration: 0s;
  animation-duration: 0s;
}
@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

#body.index .vertical.segment {
  box-shadow: none;
}

#body.index .masthead.segment h1 {
  font-size: 3em;
  color: rgba(255, 255, 255, 1);
  line-height: 1.2;
  margin: 0px 0px 0px;
  padding-bottom: 0px;
  -moz-perspective: 500px;
  -webkit-perspective: 500px;
  perspective: 500px;

  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#body.index .masthead.segment h1 .tagline {
  font-size: 0.75em;
}
#body.index .masthead.segment h1 > .library {
  display: block;
  font-size: 1.75em;
  font-weight: bold;
}
#body.index .masthead.segment h1 b {
  display: inline-block;
  font-weight: 500;
}
#body.index .masthead.segment h1 .text {
  display: inline-block;
  font-weight: 300;
  margin-left: -0.4em;
}
#body.index .masthead h2 {
  font-weight: normal;
  margin: 0px 0 16px 0px;
  font-size: 1.75em;
  border-bottom: none;
  line-height: 1;
}
#body.index .masthead p {
  font-size: 1.5em;
  margin: 1em 0em 1.5em;
  padding: 0px;
}
#body.index .ui.header {
  font-weight: normal;
}

#body.index .introduction {
  position: relative;
  clear: both;
  display: block;
  text-align: center;
}
#body.index .introduction .buttons {
  margin-top: 3em;
}


#body.index .advertisement {
  display: none !important;
  padding-left: 0;
  position: absolute;
  left: auto;
  right: 6em;
  top: 50%;
  transform: translateY(-50%);
  vertical-align: top;
}
#body.index .fixed.launch.button {
  display: none;
  top: 100px;
}
#body.index .main.menu {
  top: 0px;
}
#body.index pre.console {
  height: 120px;
}

/*--------------
    Intro
---------------*/

#body .intro.segment h1 + p {
  font-size: 22px;
}

/*--------------
    Following
---------------*/

#body.index .following.bar {
  position: fixed;
  top: 0px;
  z-index: 900;
  left: 0%;
  padding: 2em 0em;
  width: 100%;
  box-shadow: 0px 0px 0px 0px transparent;
  border-bottom: 1px solid transparent;
  transition:
    padding 0.5s ease,
    background 0.5s ease,
    box-shadow 0.5s ease,
    border 0.5s ease
  ;
}
#body.index .following.bar > .menu .item {
  transition: all 0.5s ease;
}
#body.index.pushed .following.bar .menu .item,
#body.index.pushed .following.bar {
  transition: none;
}
#body.index .following.bar .additional.item[data-site="learn"]:hover {
  color: #D9499A;
}
#body.index .following.bar span.additional.item {
  cursor: default;
  color: rgba(0, 0, 0, 0.2);
}
#body.index .following.bar .inverted span.additional.item {
  color: rgba(255, 255, 255, 0.2);
}
#body.index .following.bar .column > .menu {
  margin-top: 0px;
  height: 35px;
}
#body.index .following.bar .network.menu .item {
  font-weight: bold;
}
#body.index .following.bar .item iframe {
  margin-left: 10px;
}
#body.index .following.bar .network.menu .view-ui {
  margin-right: 1em;
  color: #FFFFFF;
}
#body.index .light.following.bar .network.menu .view-ui {
  color: #FFFFFF;
}
#body.index .light.following.bar .inverted.network.menu .view-ui {
  color: #6DFFFF;
}
#body.index .following .logo {
  float: left;
  width: 35px;
  margin-right: 1em;
}
#body.index .following .logo .side {
  width: 35px;
}
#body .masthead .version.label:after {
  background-color: #000000 !important;
}
#body.index .following .version.label {
  margin: 0.25em 0px 0px 1em;
}

/*--------------
    Mobile menu
---------------*/

@media only screen and (min-width : 650px) {
  #body .theming .source.button {
    display: none;
  }
  #body.index .main.menu {
    display: none;
  }

  #body.index .fixed.launch.button {
    display: none;
  }
}
