#topNavbar {
  color: #eaeaea;
}

#navbarBrand {
  color: #ffffff;
}

#navbarBrand:hover, #navbarBrand:focus {
  color: #eaeaea;
}

#topNavSearchBar input[type=text]::placeholder, #topNavSearchBar input[type=text] {
  color: white;
}

#topNavSearchBar input[type=text]::selection {
  color: white;
}

#topNavbar > .right.menu a {
  color: white !important;
}

#profileDropdown {
  color: #fff;
}

.ui.menu .dropdown.item .menu {
  background-color: #000 !important;
}

#topNavbar > .right.menu a:hover {
  border-color: #fff !important;
}
