#topNavbar {
  background-color: #2ecc71;
  border-color: #2bc071;
  color: #eaeaea;
}

#navbarBrand {
  color: #ffffff;
}

#navbarBrand:hover, #navbarBrand:focus {
  color: #eaeaea;
}

#topNavSearchBar input[type=text]::placeholder, #topNavSearchBar input[type=text] {
  color: white;
}

#topNavbar > .right.menu a {
  color: white !important;
}

.ui.menu .dropdown.item .menu {
  background-color: #7ae4a7 !important;
}

#profileDropdown {
  color: #eaeaea;
}
