*{
	font-family: 'Maven Pro', sans-serif;
}
html,body {
  height: 100%;
}

.container{
	position: relative;
	min-height: 100%;
}

.usr-nav{
	height: 70px;
	background-color: #2ecc71;
	margin-right: 0;
	margin-left: 0;
}
.usr-nav i {
	font-size: 33pt;
	color: #fff;
}


.usr-wlcm {
	height: 500px;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 60px;
	text-align: center;
	box-shadow: 0 10px 8px -8px gray;
}

.usr-wlcm p {
	padding-top: 110px;
	color: #95a5a6;
}

.usr-login-sec,.usr-register-sec{
	margin-top: 50px;
	height: 245px;
	border-width: 1px;
  	border-color: rgb(46, 204, 113);
  	border-style: solid;
  	border-radius: 10px;
  	background-image: url("../img/user.svg");
  	background-repeat: no-repeat;
  	background-position: 50% 10%;
  	font-size: 36px;
  	text-align: center;
  	margin-bottom: 30px;
 
}
.usr-login-sec p,.usr-register-sec p{
	margin-top: 95px;
	color:#2ecc71; 
}

.usr-btn {
	font-size: 20px;
	border: 0px solid #000000;
	width: 50%;
	margin: 0 auto;
	border-radius: 7px;
	display: block;
	background:#2ecc71; 
	color:#000000 !important;
}
.usr-btn a {
	color: #fff;
}

.usr-btn:hover{
	background:#fff; 
	border: 1px solid #2ecc71;

}
.usr-btn:hover a {
		color: #2ecc71;
}
.usr-btn:hover a:hover{
text-decoration: none;
}

.usr-footer{
	box-shadow: 0 -10px 8px -8px gray;
	height: 50px;
	background-color:#2ecc71; 
	position: absolute;
 	right: 0;
  	bottom: 0;
  	left: 0;
  	margin-right: 0;
  	margin-right: 0;
}
.usr-footer p {
	padding-top: 1em;
	margin-bottom: 0;
}