#header {
  font-size: 40.5%;
  font-family: arial, sans-serif;
}

#logo {
  height: 100px;
  width: 100px;
}

#websiteTitle {
  font-size: 10em;
  vertical-align: middle;
  font-family: 'Pacifico', cursive;
  padding-left: 15px;
  color: #191970;
}

#websiteSlogan {
  font-size: 5.4em;
}

.ui.raised.very.padded.text.container.segment {
  height: 200px;
  text-align: center;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ui.raised.very.padded.text.container.segment h1 {
  font-size: 3em;
  font-family: 'Pacifico', cursive;
  padding-top: 0px;
  text-align: center;
  color: #95a5a6;
  text-shadow: 1px 1px 2px black;
}

#registrationContainer {
  margin-top: 30px;
}
