.usr-wlcm {
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 60px;
	text-align: center;
	box-shadow: 0 10px 8px -8px gray;
}

.usr-wlcm p {
	padding-top: 100px;
	color: #95A5A6;
}

.usr-login-sec,.usr-register-sec {
	margin-top: 50px;
	height: 245px;
	border-width: 1px;
	border-color: rgb(46, 204, 113);
	border-style: solid;
	border-radius: 10px;
	background-image: url("../img/user.svg");
	background-repeat: no-repeat;
	background-position: 50% 10%;
	font-size: 36px;
	text-align: center;
	margin-bottom: 30px;
}

.usr-login-sec p,.usr-register-sec p {
	margin-top: 95px;
	color: #2ECC71;
}

.usr-btn {
	font-size: 20px;
	border: 0px solid #000000;
	width: 50%;
	margin: 0 auto;
	border-radius: 7px;
	display: block;
	background:#2ECC71;
	color: #FFF;
}

.usr-btn:hover {
	background:#FFF;
	border: 1px solid #2ECC71;
}


.usr-btn:hover {
	text-decoration: none;
}

/** Media query for Font resize **/
@media screen and (max-width: 940px) {
	.usr-login-sec,.usr-register-sec{
		font-size: 25px;
	}
	.usr-wlcm{
		font-size: 40px;
		height: 350px;
	}
}
